/* --------- mixins --------- */
/* MIXINS */
.inlineblock {
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
}
.clearfix {
  *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  zoom: 1 !ie;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/* --------- adjustment --------- */
/* --------- base --------- */
html {
  width: 100%;
  height: 100%;
  font-size: 100.01%;
}
body {
  font: 14px/1.41 Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
}
.container {
  width: 945px;
  margin: 0 auto;
  position: relative;
}
.wrapper {
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  overflow: hidden;
  min-width: 965px;
}
.wrapper .empty {
  position: relative;
  height: 50px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  padding: 0;
  left: 0;
  list-style: none outside none;
}
p {
  padding: 0;
  margin: 0;
}
footer {
  position: relative;
  margin-top: -50px;
  height: 50px;
}
/* --------- main.css --------- */
.hakaton {
  position: fixed;
  display: block;
  background: url('/img/hakaton.png') 0 0 no-repeat;
  background-size: cover;
  width: 155px;
  height: 155px;
  cursor: pointer;
}
.hakaton_top_right {
  right: 20px;
  top: 20px;
}
.hakaton_top_left {
  left: 20px;
  top: 20px;
}
.hakaton_bottom_right {
  right: 20px;
  bottom: 20px;
}
.hakaton_bottom_left {
  left: 20px;
  bottom: 20px;
}
.hakaton__mintext-num {
  position: absolute;
  top: 108px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 30px;
  line-height: 20px;
  font-weight: bold;
  color: #000;
}
.hackathonplug-modal__overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
}
.hackathonplug-modal__overlay:after {
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
  content: '';
}
.hackathonplug-modal__overlay.visible {
  display: inline-block;
}
.hackathonplug-modal {
  font-family: 'PT Serif';
  display: inline-block;
  position: relative;
  width: 1084px;
  height: 792px;
  padding: 20px;
  margin-top: -60px;
  background: url(../img/modal_background.png) no-repeat;
  vertical-align: middle;
}
.hackathonplug-modal-wrapper {
  padding: 190px;
}
.hackathonplug-modal__close {
  color: #1c1c1c;
  font-weight: bold;
  position: absolute;
  top: 120px;
  left: 840px;
}
.hackathonplug-modal__title {
  font-size: 250%;
  text-align: center;
  padding: 20px 0;
}
.hackathonplug-modal__description {
  text-align: left;
  font-size: 110%;
  margin-bottom: 10px;
  color: #6e7376;
}
.hackathonplug-modal__authors {
  display: inline-block;
  margin-bottom: 20px;
  font-style: italic;
}
.hackathonplug-modal__authors-title {
  font-size: 200%;
}
.hackathonplug-modal__authors-list {
  list-style: none;
}
.hackathonplug-modal__authors-list-item {
  text-align: left;
  color: #6e7376;
  display: inline-block;
}
.hackathonplug-modal__date {
  margin-bottom: 25px;
}
.hackathonplug-modal__date-span1 {
  display: block;
  color: #b0b0b0;
  font-size: 120%;
}
.hackathonplug-modal__date-span2 {
  display: block;
  color: #1c1c1c;
  font-size: 150%;
  font-weight: bold;
}
.hackathonplug-modal__registration:after {
  display: table;
  content: ' ';
}
.hackathonplug-modal__registration-link {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  background: #1c1c1c;
  color: #fff;
}
